<h3 class="text-center text-secondary mt-5">Task List</h3>

<div class="row">
<ul class="list-group col-6 mx-auto">
    <li class="list-group-item" *ngFor="let todo of todos; index as i">
        {{todo.task}}
    <button class="btn btn-danger right" (click)="removeTodo(i)">&#10060;</button>
</li>
</ul>

</div>


<!-- Switch  -->

<!-- 
<input type="text" [(ngModel)]="op">

<div [ngSwitch]="op" >
    <div *ngSwitchCase="'+' ">{{num1}}+{{num2}}={{num1+num2}}</div>
    <div *ngSwitchCase="'-' ">{{num1}}-{{num2}}={{num1-num2}}</div>
    <div *ngSwitchCase="'* '">
        {{num1}}*{{num2}}={{num1*num2}}
    </div>
    <div *ngSwitchCase="'/'">
        {{num1}}/{{num2}}={{num1/num2}}
    </div>
    <div *ngSwitchDefault="'n'">
        Invaild
    </div>


</div>




 -->


 <!-- Pipe Topic example uppercase to lowercase -->

 <!-- <h1>{{name|currency: 'INR':'symbol'}}</h1> -->


 <!-- <h1>{{person|json}}</h1> -->
 <!-- <h1>{{date |date:'dd/MM/yy'}}</h1> -->

 <!-- <h1>{{percentage| percent}}</h1> -->







