<h1 class="text-center text-primary">Todo App in Angular</h1>
<div class="row">
    <div class="col-6">
         <div class="form-group mt-4">
            <label for="newTask" class="addNew">Add New</label>
            <input type="text" class="control-form" id="newTask" [(ngModel)]="todoInput">
         </div>
    </div>
    <div class="col-3 mt-4">
        <button class="btn btn-success" (click)="addTask()" [disabled]="!todoInput.length">Add</button>
    </div>
    <div class="col-3 mt-4">
        <button class="btn btn-danger" (click)="restForm()" [disabled]="!todoInput.length">Rest</button>
    </div>
</div>